* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 100px;
}
.btn{
  color: rgb(15, 14, 14);
  width: 250px;
  padding: 20px;
}
h1{
  color: white;
}
