* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
h1{
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  text-decoration: underline;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: aqua;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  color: white;
}